/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #1F2937 50%, #CBAC7B 50%);
  color: #333;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

/* Header */
.site-header {
   background:#1F2937;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

/* Info */
.info {
  background: #fff;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* Formulario */
.formulario {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin: 0.8rem 0 0.4rem;
}

input, textarea {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
}

button {
  padding: 0.7rem 1.4rem;
  background: #0073e6;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #005bb5;
}

/* Footer */
.site-footer {
  background: #CBAC7B;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
