body {
  font-family: Arial, sans-serif;
  background:linear-gradient(135deg, #1F2937, #CBAC7B);
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

h1 {
  color:white;
  margin-bottom: 1.5rem;
}

.card {
  background: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  text-align: left;
}

.card h2 {
  color: #0073e6;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: #0073e6;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #005bb5;
}

p {
  margin-top: 0.8rem;
  font-weight: bold;
  color: #333;
}
